body {
	font-family:"Comic Sans MS", cursive, sans-serif;
	border:1px solid black;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

header {
	background-color:green;
	width:640px;
	height:120px;
	margin-left:auto;
	margin-right:auto;
}

footer {
	margin-bottom:-16px;
	background-color:red;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

footer p {
	text-align:center;
}

#feedbackForm {
	width:500px;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
}

#pictureArea {
	width:500px;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
	overflow:hidden;
}


#slideshow #slideshowWindow {
	width:500px;
	height:257px;
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
	border:solid 1px black;
}

#slideshow #slideshowWindow .slide {
	margin:0;
	padding:0;
	width:500px; 
	height:257px;
	position:relative;
}

#slideshow #slideshowWindow .slide .slideText {
	position:absolute;
	top:130px;
	left:0px;
	width:100%;
	height:130px;
	margin:0;
	padding:0;
	color:#ffffff;
}

#slideshow #slideshowWindow .slide .slideText a:link, #slideshow #slideshowWindow .slide .slideText a:visited {
	color:#ffffff;
	text-decoration:none;
}

#slideshow #slideshowWindow .slide .slideText h2, #slideshow #slideshowWindow .slide .slideText p {
	margin:10px 0 0 10px;
	padding:0;
}

#leftPicture {
	float:left;
}

#rightPicture {
	float:right;
}
