html {
	background-color:rgb(240,240,235);
}

body {
	background-color:white;
	font-family:"Comic Sans MS", cursive, sans-serif;
	-moz-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	width:800px;
	height:850px;
	margin-right:auto;
	margin-left:auto;
	box-shadow: 0px 0px 20px rgba(1, 1, 1, 0.7);
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    inset 0px 0px 5px 2px rgba(50, 50, 50, 0.5);
	box-shadow:         inset 0px 0px 5px 2px rgba(50, 50, 50, 0.5);
}

h1 {
	font-size:30px;
}

p {
	font-size:20px;
}

#headerSection {
	background-color:rgb(151,151,255);
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding-bottom:15px;
		-webkit-box-shadow: inset 0px 0px 5px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    inset 0px 0px 5px 2px rgba(50, 50, 50, 0.5);
	box-shadow:         inset 0px 0px 5px 2px rgba(50, 50, 50, 0.5);
}

header {
	width:640px;
	height:120px;
	margin-left:auto;
	margin-right:auto;
}

footer {
	position:relative;
	top:630px;
	height:40px;
}

footer p {
	text-align:center;
}

#feedbackForm {
	width:500px;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
}

#pictureArea {
	width:500px;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
	overflow:hidden;
}

#videoArea {
	width:650px;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
}

#slideshow #slideshowWindow {
	width:500px;
	height:257px;
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
	border:solid 1px black;
}

#slideshow #slideshowWindow .slide {
	margin:0;
	padding:0;
	width:500px;
	height:257px;
	position:relative;
}

#slideshow #slideshowWindow .slide .slideText {
	position:absolute;
	top:130px;
	left:0px;
	width:100%;
	height:130px;
	margin:0;
	padding:0;
	color:#ffffff;
}

#slideshow #slideshowWindow .slide .slideText a:link, #slideshow #slideshowWindow .slide .slideText a:visited {
	color:#ffffff;
	text-decoration:none;
}

#slideshow #slideshowWindow .slide .slideText h2, #slideshow #slideshowWindow .slide .slideText p {
	margin:10px 0 0 10px;
	padding:0;
}

#leftPicture {
	float:left;
}

#rightPicture {
	float:right;
}

.container {
	height:610px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-50px;
}

.mainPage {
	background-color:rgb(255,238,205);
}

.videoPage {
	background-color:rgb(190,250,245);
}

.picturePage {
	background-color:rgb(170,250,160);
}

.feedbackPage {
	background-color:rgb(250,250,140);
}

.ng-enter,
.ng-leave {
    -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}
     
.ng-leave.ng-leave-active,
.ng-enter {
    -webkit-transform: rotateX(-180deg) translatez(30px);
    -moz-transform: rotateX(-180deg) translatez(30px);
    -ms-transform: rotateX(-180deg) translatez(30px);
    -o-transform: rotateX(-180deg) translatez(30px);
    transform: rotateX(-180deg) translatez(30px);
    opacity: 0;
    height: 0px;
}
     
.ng-enter.ng-enter-active,
.ng-leave {
    -webkit-transform: rotateX(0deg) translatez(30px);
    -moz-transform: rotateX(0deg) translatez(30px);
    -ms-transform: rotateX(0deg) translatez(30px);
    -o-transform: rotateX(0deg) translatez(30px);
    transform: rotateX(0deg) translatez(30px);
    opacity: 1;
    height: 30px;
}