<article id="pictureArea">

<h1>Game colors</h1>
<p>What colors is used in the game</p>
<div id="slideshow">
	<div id="slideshowWindow">
		<div class="slide">
			<img src="images/img1.png" />
			<div class="slideText"><h2 class="slideTitle">Red rgb(255, 0, 0)</h2></div>
		</div>
		<div class="slide">
			<img src="images/img2.png" />
			<div class="slideText"><h2 class="slideTitle">Blue rgb(0, 0, 255)</h2></div>
		</div>
		<div class="slide">
			<img src="images/img3.png" />
			<div class="slideText"><h2 class="slideTitle">Green rgb(0, 128, 0)</h2></div>
		</div>
		<div class="slide">
			<img src="images/img4.png" />
			<div class="slideText"><h2 class="slideTitle">Black rgb(0, 0, 0)</h2></div>
		</div>
		<div class="slide">
			<img src="images/img5.png" />
			<div class="slideText"><h2 class="slideTitle" style="color:black;">White rgb(255, 255, 255)</h2></div>
		</div>
		<div class="slide">
			<img src="images/img6.png" />
			<div class="slideText"><h2 class="slideTitle">Grey rgb(128, 128, 128)</h2></div>
		</div>
		<div class="slide">
			<img src="images/img7.png" />
			<div class="slideText"><h2 class="slideTitle">Brown rgb(139, 69, 19)</h2></div>
		</div>
		<div class="slide">
			<img src="images/img8.png" />
			<div class="slideText"><h2 class="slideTitle" style="color:black;">Yellow rgb(255, 255, 0)</h2></div>
		</div>
		<div class="slide">
			<img src="images/img9.png" />
			<div class="slideText"><h2 class="slideTitle">Purple rgb(128, 0, 128)</h2></div>
		</div>
		<div class="slide">
			<img src="images/img10.png" />
			<div class="slideText"><h2 class="slideTitle" style="color:black;">Pink rgb(255, 192, 203)</h2></div>
		</div>
		<div class="slide">
			<img src="images/img11.png" />
			<div class="slideText"><h2 class="slideTitle">Orange rgb(255, 165, 0)</h2></div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
		var currentPosition = 0;
		var slideWidth = 500;
		var slides = $('.slide');
		var numberOfSlides = slides.length;
		var slideShowInterval;
		var speed = 3000;
		
		//Assign a timer, so it will run periodically
		slideShowInterval = setInterval(changePosition, speed);
		
		slides.wrapAll('<div id="slidesHolder"></div>')
		  
		slides.css({ 'float' : 'left' });
		
		//set #slidesHolder width equal to the total width of all the slides
		$('#slidesHolder').css('width', slideWidth * numberOfSlides);
		
		$('#slideshow')
			.append('<button class="pictureChange" id="leftPicture">Move Left</button>')
			.append('<button class="pictureChange" id="rightPicture">Move Right</button>');
		
		manageNav(currentPosition);
		
		//tell the buttons what to do when clicked
		$('.pictureChange').bind('click', function() {
			
			//determine new position
			currentPosition = ($(this).attr('id')=='rightPicture')
			? currentPosition+1 : currentPosition-1;
										
			//hide/show controls
			manageNav(currentPosition);
			clearInterval(slideShowInterval);
			slideShowInterval = setInterval(changePosition, speed);
			moveSlide();
		});
		
		function manageNav(position) {
			//hide left arrow if position is first slide
			if(position==0){ $('#leftPicture').hide() }
			else { $('#leftPicture').show() }
			//hide right arrow is slide position is last slide
			if(position==numberOfSlides-1){ $('#rightPicture').hide() }
			else { $('#rightPicture').show() }
		}
		
			//changePosition: this is called when the slide is moved by the timer and NOT when the next or previous buttons are clicked
		function changePosition() {
			if(currentPosition == numberOfSlides - 1) {
				currentPosition = 0;
				manageNav(currentPosition);
			} else {
				currentPosition++;
				manageNav(currentPosition);
			}
			moveSlide();
		}
		
		//moveSlide: this function moves the slide 
		function moveSlide() {
				$('#slidesHolder').animate({'marginLeft' : slideWidth*(-currentPosition)});
		}
		
		$('.hoverMenu').click(function(){
			clearInterval(slideShowInterval);
		});
		
	});
</script>

</article>
